<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/layout.css">
			<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<body>
			<div class="container">
			<nav>
	    		<ul>
	        		<li class="btn btn-secondary"><a href="/">Home</a></li>
		        	<li class="btn btn-secondary"><a href="/about">About</a></li>
	        		<li class="btn btn-secondary"><a href="/cv">CV</a></li>
	        		<li class="btn btn-secondary"><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:usher.sky.potter@gmail.com">email</a></li>
	        		<li><a href="https://github.com/usher-sky">github.com/usher-sky</a></li>
				</ul>
			</footer>
			</div>
		</body>
	</html>
